{% extends "tracker/Base.html" %}
{% block body %}
<h5> add daily clan info </h5>
please don't mess with if you managed to find this page
{% if successalert %}
<div class="alert alert-dark" role="alert">
  {{ successalert }}
</div>
{% endif %}


<form action="" method="POST" style="max-width:50%; margin:auto">
    <strong> Date </strong>
    <div class="form-row date" data-provider="datepicker">
        <input type="date" class="form-control" date-date-end-date="0d" value= "{{ request.form.date }}" name="date">
   	</div>
   		<br>
    <div>
    	exp&nbsp;<input type='number' class="form-control" value = "{{ request.form.exp }}" name="exp"/>
    	gold&nbsp;<input type='number' class="form-control" value = "{{ request.form.gold }}" name="gold"/>
    	crystal&nbsp;<input type='number' class="form-control" value = "{{ request.form.cry }}" name="cry"/>
    	platinum&nbsp;<input type='number' class="form-control" value = "{{ request.form.plat }}" name="plat"/><br>
    	fish&nbsp;<input type='number' class="form-control" value = "{{ request.form.fish }}" name="fish"/>
    	wood&nbsp;<input type='number' class="form-control" value = "{{ request.form.wood }}" name="wood"/>
    	iron&nbsp;<input type='number' class="form-control" value = "{{ request.form.iron }}" name="iron"/>
    	stone&nbsp;<input type='number' class="form-control" value = "{{ request.form.stone }}" name="stone"/>
     	<input class="btn btn-alert" type="submit" value="Submit" style="margin:auto">    
	</div>
</form>


{% endblock %}
