<!DOCTYPE html>
<HTML>
<head>
	<title> tgbnhy's Gem Megastore </title>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
    	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/spacelab/bootstrap.min.css" rel="stylesheet" integrity="sha384-XnJ+ECa6Sjobnj1S2MSpiH4NIeXBFS5JGx3OhuVqjRzQnhWjjuBw3RRgQy6OOBIC" crossorigin="anonymous">
	<script
  		src="http://code.jquery.com/jquery-3.3.1.min.js"
  		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 		 crossorigin="anonymous"></script>
 
	<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous"></script> -->
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" 
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" 
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='app.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	
<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='CustomCSS.css') }}">

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">

<script>
var js_recipies = new Array();
{% for piss in recipies %}
     	var {{ piss }} = new Array();
     	 {% for shit in range(recipies[piss]|count ) %}
     		{{ piss }}.push('{{ recipies[piss][shit] }}');
     	{% endfor %}
		js_recipies.push( {{ piss }} );
{% endfor %}
</script>
<script>
	var myResult = 0;
</script>	
</head>

<body class="table-dark" style="height: 100vh;">
	<div class="container " style="min-height: 100%; width:90%; margin: 0,auto; border-color:f728ff">
		<div id="corporateheader" ><h4> <strong>The tgbnhy website for kids who can't carve good and want to do other stuff good too </strong></h4> </div>
	
		<nav class="navbar  navbar-dark " style="background-color:black;">
    			<a class="navbar-brand customgradient" href="/gems/">Recipie Lists</a>
     			<a class="navbar-brand customgradient" href="/market/">Market Prices</a>
     			<a class="navbar-brand customgradient" href="/orders/">Orders tool</a>
		</nav>
    
    		{% block body %}
    		{% endblock %}

	</div>




	<script>
		$(document).ready( function () {
		    $('#List1').DataTable({
		    	"paging": false
		    });
		} );
	</script>
	<script>
		$(document).ready( function () {
  			$('#market1').DataTable({
    			"paging":false
		 });
		} );
	</script>
	<script>
		$(document).ready( function () {
  			$('#resultstable').DataTable({
    			"paging":false
		 });
		} );
	</script>
</body>
</HTML>
